@{
  ViewBag.BodyClass = "AboutUs p3";
  ViewBag.Category = "青商沿革";
  ViewBag.Title = "第43屆理監事";
  Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
@Scripts.Render("~/about_usWWW")
}

<ul class="breadcrumb">
    <li class="s"><a href="~/Index">HOME</a></li>
    <li><a href="~/AboutUs/AboutUs">@ViewBag.Category</a></li>
    <li>@ViewBag.Title</li>
</ul>

<h2><span>JCI-Chungli<em>@ViewBag.Category</em></span></h2>

<h3>@ViewBag.Title</h3>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=251">
                        <img src="~/Content/images/AboutUs/43/01_pre.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>會長</em><br>
                    姓名： <em>張晃銘</em><br>
                    信箱： <a href="mailto:huangming168@kimo.com">huangming168@kimo.com</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=412">
                        <img src="~/Content/images/AboutUs/43/02_c_pre.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>輔導會長</em><br>
                    姓名： <em>羅崴駿</em><br>
                    信箱： <a href="mailto:kenlo7867@gmail.com">kenlo7867@gmail.com</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=541">
                        <img src="~/Content/images/AboutUs/43/03_v_pre1.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>副會長</em><br>
                    姓名： <em>李瑋霜</em><br>
                    信箱： <a href="k0925352430@yahoo.com.tw">k0925352430@yahoo.com.tw</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=599">
                        <img src="~/Content/images/AboutUs/43/03_v_pre2.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>副會長</em><br>
                    姓名： <em>李治慧</em><br>
                    信箱： <a href="migo-0409@hotmail.com">migo-0409@hotmail.com</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=299">
                        <img src="~/Content/images/AboutUs/43/04_sec.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>秘書長</em><br>
                    姓名： <em>謝建文</em><br>
                    信箱： <a href="angus.h101@gmail.com">angus.h101@gmail.com</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=597">
                        <img src="~/Content/images/AboutUs/43/05_fin.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>財務長</em><br>
                    姓名： <em>游玉梅</em><br>
                    信箱： <a href="betty760418@hotmail.com">betty760418@hotmail.com</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=220">
                        <img src="~/Content/images/AboutUs/43/06_adv.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>法制顧問</em><br>
                    姓名： <em>彭銘君</em><br>
                    信箱： <a href="jy.print@msa.hinet.net">jy.print@msa.hinet.net</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=2070">
                        <img src="~/Content/images/AboutUs/43/09_dir1.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>理事</em><br>
                    姓名： <em>江長橋</em><br>
                    信箱： <a href="a137291@gmail.com">a137291@gmail.com</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=2063">
                        <img src="~/Content/images/AboutUs/43/09_dir2.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>理事</em><br>
                    姓名： <em>范揚烜</em><br>
                    信箱： <a href="fan710123@gmail.com">fan710123@gmail.com</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=2082">
                        <img src="~/Content/images/AboutUs/43/09_dir3.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>理事</em><br>
                    姓名： <em>鄭俊佑</em><br>
                    信箱： <a href="cash911119@yahoo.com.tw">cash911119@yahoo.com.tw</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=607">
                        <img src="~/Content/images/AboutUs/43/09_dir4.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>理事</em><br>
                    姓名： <em>毛孝元</em><br>
                    信箱： <a href="ivanmao728@gmail.com">ivanmao728@gmail.com</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=585">
                        <img src="~/Content/images/AboutUs/43/09_dir5.JPG" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>理事</em><br>
                    姓名： <em>劉宇桀</em><br>
                    信箱： <a href="yowigon@gmail.com">yowigon@gmail.com</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    @* <a href="~/Member/Member_Content?id=436"> *@
                        <img src="~/Content/images/AboutUs/43/09_dir6.jpg" class="pic-2" alt="更多詳細資料">
                    @* </a> *@
                </dt>
                <dd>
                    職稱： <em>理事</em><br>
                    姓名： <em>李耀忠</em><br>
                    信箱： <a href="z5328012345@yahoo.com.tw">z5328012345@yahoo.com.tw</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=439">
                        <img src="~/Content/images/AboutUs/43/07_ever_sup.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>常務監事</em><br>
                    姓名： <em>羅玉玲</em><br>
                    信箱： <a href="cynthialo101016@gmail.com">cynthialo101016@gmail.com</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=575">
                        <img src="~/Content/images/AboutUs/43/08_sup1.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>監事</em><br>
                    姓名： <em>呂傑銘</em><br>
                    信箱： <a href="kimi191919@yahoo.com.tw">kimi191919@yahoo.com.tw</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=479">
                        <img src="~/Content/images/AboutUs/43/08_sup2.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>監事</em><br>
                    姓名： <em>巫建輝</em><br>
                    信箱： <a href="bella0917828023@yahoo.com.tw">bella0917828023@yahoo.com.tw</a>
                </dd>
            </dl>