@{
  ViewBag.BodyClass = "AboutUs p3";
  ViewBag.Category = "青商沿革";
  ViewBag.Title = "第41屆理監事";
  Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
@Scripts.Render("~/about_usWWW")
}

<ul class="breadcrumb">
    <li class="s"><a href="~/Index">HOME</a></li>
    <li><a href="~/AboutUs/AboutUs">@ViewBag.Category</a></li>
    <li>@ViewBag.Title</li>
</ul>

<h2><span>JCI-Chungli<em>@ViewBag.Category</em></span></h2>

<h3>@ViewBag.Title</h3>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=235">
                        <img src="~/Content/images/AboutUs/41/01_pre.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>會長</em><br>
                    姓名： <em>林筱菁 Joann</em><br>
                    地址： 324桃園縣平鎮市環南路18號2樓<br>
                    行動： 0920-190110　電話: (03) 492-0980 <br>
                    傳真： <br>
                    信箱： <a href="mailto:circa123@yahoo.com.tw">circa123@yahoo.com.tw</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=226">
                        <img src="~/Content/images/AboutUs/41/02_c_pre.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>輔導會長</em><br>
                    姓名： <em>林敬恩 Bryan Lin</em><br>
                    地址：  326桃園縣楊梅市環南路325號<br />
                    行動： 0938-478999　電話 : (03) 478-3191 <br />
                    傳真： <br />
                    信箱： <A href="mailto:chingen@gmail.com">chingen@gmail.com</A>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=408">
                        <img src="~/Content/images/AboutUs/41/03_v_pre1.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>副會長</em><br>
                    姓名： <em>莊詠振 Stanley</em><br>
                    地址： 320 中壢市環中東路206巷21號3樓<br />
                    行動： 0985-798551　電話 : (03) 370-2777<br />
                    傳真： <br />
                    信箱： <A href="hugocolin1104@yahoo.com.tw">hugocolin1104@yahoo.com.tw</A>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=260">
                        <img src="~/Content/images/AboutUs/41/03_v_pre2.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>副會長</em><br>
                    姓名： <em>李朝海 Andrew Li</em><br>
                    地址： 320中壢市幸福里福星三街67號<br />
                    行動： 0927-567778　電話 :  (03) 4617776<br />
                    傳真： <br />
                    信箱： <A href="an.andrew.li@gmail.com">an.andrew.li@gmail.com</A>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=414">
                        <img src="~/Content/images/AboutUs/41/04_sec.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱 ：<em>秘書長</em><br>
                    姓名 ：<em>江子煜 David </em><br>
                    地址： 320中壢市龍岡路一段181-1號<br />
                    行動： 0937-808350　電話 : (03)458-7799<br />
                    傳真： <br />
                    信箱： <A href="jiangtea88@yahoo.com.tw">jiangtea88@yahoo.com.tw</A>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=460">
                        <img src="~/Content/images/AboutUs/41/05_fin.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>財務長</em><br>
                    姓名： <em>李 辛 Levi</em><br>
                    地址： 325桃園縣龍潭鄉中央街169巷37弄28號<br />
                    行動： 0912-877319  電話 :(03)459-53851<br />
                    傳真： <br />
                    信箱： <A href="z19841022@gmail.com">z19841022@gmail.com</A>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=412">
                        <img src="~/Content/images/AboutUs/41/06_adv.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>法制顧問</em><br>
                    姓名： <em>羅崴駿 Ken</em><br>
                    地址： 320中壢市華美一路227之12號<br />
                    行動： 0989-565161　電話 :(03) 428-4782 <br />
                    傳真： <br />
                    信箱： <A href="lwenling@ms29.hinet.net">lwenling@ms29.hinet.net</A>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?ClickFlag=2&p0=431">
                        <img src="~/Content/images/AboutUs/41/07_ever_sup.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>常務監事</em><br>
                    姓名： <em>劉秉杰 Ed</em><br>
                    地址： 320中壢市中北路二段227號10樓<br />
                    行動： 0931-246662　電話 : <br />
                    傳真： <br />
                    信箱： <A href="ed-liu@umail.hinet.net">ed-liu@umail.hinet.net</A>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <img src="~/Content/images/AboutUs/41/08_sup1.jpg" class="pic-2" alt="更多詳細資料">
                </dt>
                <dd>
                    職稱： <em>監事</em><br>
                    姓名： <em>林明正 Ray</em><br>
                    地址： 320桃園縣中壢市育樂路90號<br />
                    行動： 0989-663355　電話 :  <br />
                    傳真： <br />
                    信箱： <A href="win938win938@yahoo.com.tw">win938win938@yahoo.com.tw</A>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=370">
                        <img src="~/Content/images/AboutUs/41/08_sup2.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>監事</em><br>
                    姓名： <em>劉世超 Chris</em><br>
                    地址： 320中壢市元化路165巷46號5樓<br />
                    行動： 0925-989607  電話 : (03)425-1415<br />
                    傳真： <br />
                    信箱： <A href="c2980@yahoo.com.tw">c2980@yahoo.com.tw</A>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=502">
                        <img src="~/Content/images/AboutUs/41/09_dir1.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>理事</em><br>
                    姓名： <em>楊家俍 Ajax</em><br>
                    地址： 320桃園縣中壢市中豐路6號<br />
                    行動： 0935-587588  電話 : (03)422-1163<br />
                    傳真： <br />
                    信箱： <A href="fatalism.tw@gmail.com">fatalism.tw@gmail.com</A>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=534">
                        <img src="~/Content/images/AboutUs/41/09_dir2.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>理事</em><br>
                    姓名： <em>涂少賓 Pin</em><br>
                    地址： 324平鎮市中豐路南勢二段90巷12號<br />
                    行動： 0931-375605  電話 : (03)03-4398828<br />
                    傳真： <br />
                    信箱： <A href="shao_pin@hotmail.com">shao_pin@hotmail.com</A>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=484">
                        <img src="~/Content/images/AboutUs/41/09_dir3.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>理事</em><br>
                    姓名： <em>江承洲 Cheng Chou</em><br>
                    地址： 328觀音鄉大同村12鄰下大堀161-1號<br />
                    行動： 0952-577533  電話 : (03)425-8866<br />
                    傳真： <br />
                    信箱： <A href="wie741102@yahoo.com.tw">wie741102@yahoo.com.tw</A>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <img src="~/Content/images/AboutUs/41/09_dir4.jpg" class="pic-2" alt="更多詳細資料">
                </dt>
                <dd>
                    職稱： <em>理事</em><br>
                    姓名： <em>劉永澤 Jason</em><br>
                    地址： 320中壢市長春三路19號13樓<br />
                    行動： 0989-987567  電話 : (03)272-7568<br />
                    傳真： <br />
                    信箱： <A href="jasonliu1111@kj167.com">jasonliu1111@kj167.com</A>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <img src="~/Content/images/AboutUs/41/09_dir5.JPG" class="pic-2" alt="更多詳細資料">
                </dt>
                <dd>
                    職稱： <em>理事</em><br>
                    姓名： <em>胡睿宸 Vic</em><br>
                    地址： 320桃園縣八德市和強路363號<br />
                    行動： 0927-339660  電話 : (03)363-7688<br />
                    傳真： <br />
                    信箱： <A href="a0927428517@hotmail.com.tw">a0927428517@hotmail.com.tw</A>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=274">
                        <img src="~/Content/images/AboutUs/41/09_dir6.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>理事</em><br>
                    姓名： <em>鍾杰倫</em><br>
                    地址： 320中壢市中山路41號B1<br />
                    行動： 0955-336933  電話 :<br />
                    傳真： <br />
                    信箱： <A href="j1188j1975@gmail.com">j1188j1975@gmail.com</A>
                </dd>
            </dl>