@{
  ViewBag.BodyClass = "AboutUs p3";
  ViewBag.Category = "青商沿革";
  ViewBag.Title = "第42屆理監事";
  Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
@Scripts.Render("~/about_usWWW")
}

<ul class="breadcrumb">
    <li class="s"><a href="~/Index">HOME</a></li>
    <li><a href="~/AboutUs/AboutUs">@ViewBag.Category</a></li>
    <li>@ViewBag.Title</li>
</ul>

<h2><span>JCI-Chungli<em>@ViewBag.Category</em></span></h2>

<h3>@ViewBag.Title</h3>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=412">
                        <img src="~/Content/images/AboutUs/42/01_pre.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>會長</em><br>
                    姓名： <em>羅崴駿 Ken</em><br>
                    @* 地址： 320 桃園縣中壢市華美一路227之12號<br>
                    行動： 0989-565161　電話: (03) 428-4782 <br>
                    傳真： <br> *@
                    信箱： <a href="mailto:lwenling@ms29.hinet.net">lwenling@ms29.hinet.net</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=235">
                        <img src="~/Content/images/AboutUs/42/02_c_pre.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>輔導會長</em><br>
                    姓名： <em>林筱菁 Joann Lin</em><br>
                    @* 地址：  324 桃園縣平鎮市環南路18號2樓<br>
                    行動： 0920-190110　電話: (03) 492-0980 <br>
                    傳真： <br> *@
                    信箱： <a href="mailto:circa123@yahoo.com.tw">circa123@yahoo.com.tw</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=473">
                        <img src="~/Content/images/AboutUs/42/03_v_pre1.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>副會長</em><br>
                    姓名： <em>蕭家穎 Picky</em><br>
                    @* 地址： 326 桃園縣楊梅市裕成南路300號<br>
                    行動： 0981-957456　電話: (03) 4814123<br>
                    傳真： <br> *@
                    信箱： <a href="picky730209@gmail.com">picky730209@gmail.com</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=274">
                        <img src="~/Content/images/AboutUs/42/03_v_pre2.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>副會長</em><br>
                    姓名： <em>鍾杰倫</em><br>
                    @* 地址： 320 桃園縣中壢市中山路41號B1<br>
                    行動： 0955-336933　電話:  (03) 4277767<br>
                    傳真： <br> *@
                    信箱： <a href="j1188j1975@gmail.com">j1188j1975@gmail.com</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=575">
                        <img src="~/Content/images/AboutUs/42/04_sec.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>秘書長</em><br>
                    姓名： <em>呂傑銘 Kimi</em><br>
                    @* 地址： 320 桃園縣中壢市永泰路157號4樓<br>
                    行動： 0938-620883<br>
                    傳真： <br> *@
                    信箱： <a href="kimi191919@yahoo.com.tw">kimi191919@yahoo.com.tw</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=587">
                        <img src="~/Content/images/AboutUs/42/05_fin.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>財務長</em><br>
                    姓名： <em>蘇秉凱 Hunter</em><br>
                    @* 地址： 334 桃園縣八德市長興路360巷52弄17號<br>
                    行動： 0938-228822<br>
                    傳真： <br> *@
                    信箱： <a href="vigoursu@gmail.com">vigoursu@gmail.com</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=431">
                        <img src="~/Content/images/AboutUs/42/06_adv.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>法制顧問</em><br>
                    姓名： <em>劉秉杰 Ed</em><br>
                    @* 地址： 320 桃園縣中壢市中北路二段227號10樓<br>
                    行動： 0931-246662<br>
                    傳真： <br> *@
                    信箱： <a href="ed-Liu@umail.hinet.net">ed-Liu@umail.hinet.net</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?ClickFlag=2&p0=443">
                        <img src="~/Content/images/AboutUs/42/07_ever_sup.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>常務監事</em><br>
                    姓名： <em>邱思嘉</em><br>
                    @* 地址： 320 桃園縣中壢市過嶺里松平路181號<br>
                    行動： 0937-962118　電話: (03) 4200700<br>
                    傳真： <br> *@
                    信箱： <a href="jaja0927002@yahoo.com.tw">jaja0927002@yahoo.com.tw</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=260">
                        <img src="~/Content/images/AboutUs/42/08_sup1.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>監事</em><br>
                    姓名： <em>李朝海 Andrew Li</em><br>
                    @* 地址： 320 桃園縣中壢市幸福里福星三街67號<br>
                    行動： 0927-567778　電話: (03) 4617778<br>
                    傳真： <br> *@
                    信箱： <a href="an.andrew.li@gmail.com">an.andrew.li@gmail.com</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=460">
                        <img src="~/Content/images/AboutUs/42/08_sup2.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>監事</em><br>
                    姓名： <em>李  辛 HISN LEE</em><br>
                    @* 地址： 320 桃園縣中壢市新興路102巷12號3樓<br>
                    行動： 0912-877319　電話: (03) 459-53851<br>
                    傳真： <br> *@
                    信箱： <a href="z19841022@gmail.com">z19841022@gmail.com</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=541">
                        <img src="~/Content/images/AboutUs/42/09_dir1.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>理事</em><br>
                    姓名： <em>李瑋霜 Bonnie</em><br>
                    @* 地址： 335 桃園縣大溪鎮介壽路851號<br>
                    行動： 0981-700788<br>
                    傳真： <br> *@
                    信箱： <a href="k0925352430@yahoo.com.tw">k0925352430@yahoo.com.tw</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=599">
                        <img src="~/Content/images/AboutUs/42/09_dir2.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>理事</em><br>
                    姓名： <em>李治慧 Sunny Lee</em><br>
                    @* 地址： 324 桃園縣中壢市九和三街17號1樓<br>
                    行動： 0916-793543　電話: (03) 4225820<br>
                    傳真： <br> *@
                    信箱： <a href="migo-0409@hotmail.com">migo-0409@hotmail.com</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=536">
                        <img src="~/Content/images/AboutUs/42/09_dir3.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>理事</em><br>
                    姓名： <em>王遷慶 Jambo</em><br>
                    @* 地址： 324 桃園縣平鎮市新光路三段安居巷39弄1號<br>
                    行動： 0989-631372　電話: (03) 4391862<br>
                    傳真： <br> *@
                    信箱： <a href="a4391862@yahoo.com.tw">a4391862@yahoo.com.tw</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=299">
                        <img src="~/Content/images/AboutUs/42/09_dir4.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>理事</em><br>
                    姓名： <em>謝建文 Angus Hsieh</em><br>
                    @* 地址： 320 桃園縣中壢市環中東路2段484號5樓<br>
                    行動： 0982-400074　電話: (03) 4588080<br>
                    傳真： <br> *@
                    信箱： <a href="angus.h101@gmail.com">angus.h101@gmail.com</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=435">
                        <img src="~/Content/images/AboutUs/42/09_dir5.JPG" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>理事</em><br>
                    姓名： <em>張大城 Da Cheng Chang</em><br>
                    @* 地址： 320 桃園縣中壢市慈惠三街106號5樓<br>
                    行動： 0988-029920　電話: (03) 4534168<br>
                    傳真： <br> *@
                    信箱： <a href="cheng133820@yahoo.com.tw">cheng133820@yahoo.com.tw</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=436">
                        <img src="~/Content/images/AboutUs/42/09_dir6.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>理事</em><br>
                    姓名： <em>莊智恆 Tabris</em><br>
                    @* 地址： 320 桃園縣中壢市廣明路133號<br>
                    行動： 0919-242429　電話: (03) 493-5545<br>
                    傳真： <br> *@
                    信箱： <a href="kyleryu@yahoo.com.tw">kyleryu@yahoo.com.tw</a>
                </dd>
            </dl>