@{
  ViewBag.BodyClass = "AboutUs p3";
  ViewBag.Category = "青商沿革";
  ViewBag.Title = "第47屆理監事";
  Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
    @Scripts.Render("~/about_usWWW")
}

<ul class="breadcrumb">
    <li class="s"><a href="~/Index">HOME</a></li>
    <li><a href="~/AboutUs/AboutUs">@ViewBag.Category</a></li>
    <li>@ViewBag.Title</li>
</ul>

<h2><span>JCI-Chungli<em>@ViewBag.Category</em></span></h2>

<h3>@ViewBag.Title</h3>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2065" class="shot">
            <img src="~/Content/images/AboutUs/47/01_pre.jpg" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>會長</em><br>
        姓名： <em>葉俊賢</em><br>
        信箱： <a href="mailto:xin.jia2008@msa.hinet.net">xin.jia2008@msa.hinet.net</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2257" class="shot">
            <img src="~/Content/images/AboutUs/46/01_pre.jpg" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>輔導會長</em><br>
        姓名： <em>宋航源</em><br>
        信箱： <a href="mailto:s198112192529@gmail.com">s198112192529@gmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2386" class="shot">
            <img src="~/Content/images/AboutUs/47/03_v_pre1.jpg" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>副會長</em><br>
        姓名： <em>林怡志</em><br>
        信箱： <a href="mailto:starball99999@gmail.com">starball99999@gmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2141" class="shot">
            <img src="~/Content/images/AboutUs/47/03_v_pre2.jpg" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>副會長</em><br>
        姓名： <em>王曉倩</em><br>
        信箱： <a href="mailto:pinpin0930356915@gmail.com">pinpin0930356915@gmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2146" class="shot">
            <img src="~/Content/images/AboutUs/47/04_sec.jpg" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>秘書長</em><br>
        姓名： <em>劉勝峰</em><br>
        信箱： <a href="mailto:s4220372s@gmail.com">s4220372s@gmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2185" class="shot">
            <img src="~/Content/images/AboutUs/47/05_fin.jpg" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>財務長</em><br>
        姓名： <em>李易帆</em><br>
        信箱： <a href="mailto:frankly70@gmail.com">frankly70@gmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=587" class="shot">
            <img src="~/Content/images/AboutUs/47/06_adv.jpg" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>法制顧問</em><br>
        姓名： <em>蘇秉凱</em><br>
        信箱： <a href="mailto:vigoursu@gmail.com">vigoursu@gmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2282" class="shot">
            <img src="~/Content/images/AboutUs/47/09_dir1.jpg" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>常務監事</em><br>
        姓名： <em>鄭雷霖</em><br>
        信箱： <a href="mailto:super0924@hotmail.com">super0924@hotmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2418" class="shot">
            <img src="~/Content/images/AboutUs/47/08_sup1.jpg" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>監事</em><br>
        姓名： <em>高梓軒</em><br>
        信箱： <a href="mailto:cavin110778@gmail.com">cavin110778@gmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2537" class="shot">
            <img src="~/Content/images/AboutUs/47/08_sup2.jpg" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>監事</em><br>
        姓名： <em>官毅飛</em><br>
        信箱： <a href="mailto:starball99999@gmail.com">starball99999@gmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2550" class="shot">
            <img src="~/Content/images/AboutUs/47/09_dir1.jpg" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>理事</em><br>
        姓名： <em>郭學宇</em><br>
        信箱： <a href="mailto:wwe791111@gmail.com">wwe791111@gmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2618" class="shot">
            <img src="~/Content/images/AboutUs/47/09_dir2.JPG" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>理事</em><br>
        姓名： <em>魏國峰</em><br>
        信箱： <a href="mailto:0927675692@yahoo.com.tw">0927675692@yahoo.com.tw</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2520" class="shot">
            <img src="~/Content/images/AboutUs/47/09_dir3.jpg" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>理事</em><br>
        姓名： <em>梁千千</em><br>
        信箱： <a href="mailto:mongen7@gmail.com">mongen7@gmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2458" class="shot">
            <img src="~/Content/images/AboutUs/47/09_dir4.jpg" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>理事</em><br>
        姓名： <em>楊凱閔</em><br>
        信箱： <a href="mailto:kenven1a1a@gmail.com">kenven1a1a@gmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2523" class="shot">
            <img src="~/Content/images/AboutUs/47/09_dir5.jpg" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>理事</em><br>
        姓名： <em>張耀天</em><br>
        信箱： <a href="mailto:summer53342@gmail.com">summer53342@gmail.com</a>
    </dd>
</dl>

<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2481" class="shot">
            <img src="~/Content/images/AboutUs/47/09_dir6.jpg" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>理事</em><br>
        姓名： <em>戴榕靚</em><br>
        信箱： <a href="mailto:jindaisy0920@gmail.com">jindaisy0920@gmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=151" class="shot">
            <img src="~/Content/images/AboutUs/47/10_s.jpg" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>特友會主席</em><br>
        姓名： <em>喬  龍</em><br>
        信箱： <a href="mailto:hanling588@gmail.com">hanling588@gmail.com</a>
    </dd>
</dl>