@{
  ViewBag.BodyClass = "AboutUs p3";
  ViewBag.Category = "青商沿革";
  ViewBag.Title = "第48屆理監事";
  Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
    @Scripts.Render("~/about_usWWW")
}

<ul class="breadcrumb">
    <li class="s"><a href="~/Index">HOME</a></li>
    <li><a href="~/AboutUs/AboutUs">@ViewBag.Category</a></li>
    <li>@ViewBag.Title</li>
</ul>

<h2><span>JCI-Chungli<em>@ViewBag.Category</em></span></h2>

<h3>@ViewBag.Title</h3>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2184" class="shot">
            <img src="~/Content/images/AboutUs/48/2184.jpg" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>會長</em><br>
        姓名： <em>許佳偉</em><br>
        信箱： <a href="mailto:a091996031599@yahoo.com.tw">a091996031599@yahoo.com.tw</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2065" class="shot">
            <img src="~/Content/images/AboutUs/48/2065.jpg" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>輔導會長</em><br>
        姓名： <em>葉俊賢</em><br>
        信箱： <a href="mailto:xin.jia2008@msa.hinet.net">xin.jia2008@msa.hinet.net</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=536" class="shot">
            <img src="~/Content/images/AboutUs/48/536.jpg" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>副會長</em><br>
        姓名： <em>王遷慶</em><br>
        信箱： <a href="mailto:a4391862@yahoo.com.tw">a4391862@yahoo.com.tw</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2550" class="shot">
            <img src="~/Content/images/AboutUs/48/2550.jpg" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>副會長</em><br>
        姓名： <em>郭學宇</em><br>
        信箱： <a href="mailto:wwe79111@gmail.com">wwe79111@gmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2357" class="shot">
            <img src="~/Content/images/AboutUs/48/2357.jpg" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>秘書長</em><br>
        姓名： <em>林佳宏</em><br>
        信箱： <a href="mailto:simple9135@gmail.com">simple9135@gmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2548" class="shot">
            <img src="~/Content/images/AboutUs/48/2548.jpg" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>財務長</em><br>
        姓名： <em>詹琴麗</em><br>
        信箱： <a href="mailto:a0960595577@gmail.com">a0960595577@gmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2063" class="shot">
            <img src="~/Content/images/AboutUs/48/2063.jpg" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>法制顧問</em><br>
        姓名： <em>范揚烜</em><br>
        信箱： <a href="mailto:fan710123@gmail.com">fan710123@gmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2537" class="shot">
            <img src="~/Content/images/AboutUs/48/2537.jpg" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>常務監事</em><br>
        姓名： <em>官毅飛</em><br>
        信箱： <a href="mailto:starball99999@gmail.com">starball99999@gmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2146" class="shot">
            <img src="~/Content/images/AboutUs/48/2146.jpg" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>監事</em><br>
        姓名： <em>劉勝峰</em><br>
        信箱： <a href="mailto:s4220372s@gmail.com">s4220372s@gmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2602" class="shot">
            <img src="~/Content/images/AboutUs/48/2602.jpg" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>監事</em><br>
        姓名： <em>羅鈺翔</em><br>
        信箱： <a href="mailto:a22363636@gmail.com.tw">a22363636@gmail.com.tw</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2524" class="shot">
            <img src="~/Content/images/AboutUs/48/2524.jpg" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>理事</em><br>
        姓名： <em>黃俊翰</em><br>
        信箱： <a href="mailto:theviperlionheart@gmail.com">theviperlionheart@gmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2585" class="shot">
            <img src="~/Content/images/AboutUs/48/2585.JPG" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>理事</em><br>
        姓名： <em>馮  威</em><br>
        信箱： <a href="mailto:figureoutfamily@gmail.com">figureoutfamily@gmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2610" class="shot">
            <img src="~/Content/images/AboutUs/48/2610.jpg" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>理事</em><br>
        姓名： <em>林櫓龍</em><br>
        信箱： <a href="mailto:loren0121@gmail.com">loren0121@gmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2634" class="shot">
            <img src="~/Content/images/AboutUs/48/2634.jpg" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>理事</em><br>
        姓名： <em>林珍勵</em><br>
        信箱： <a href="mailto:stacyhayasi@hotmail.com">stacyhayasi@hotmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2660" class="shot">
            <img src="~/Content/images/AboutUs/48/2660.jpg" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>理事</em><br>
        姓名： <em>洪靖家</em><br>
        信箱： <a href="mailto:patrick.sportsphysio@gmail.com">patrick.sportsphysio@gmail.com</a>
    </dd>
</dl>

<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2680" class="shot">
            <img src="~/Content/images/AboutUs/48/2680.jpg" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>理事</em><br>
        姓名： <em>蔡育言</em><br>
        信箱： <a href="mailto:tsaiyuyen007@gmail.com">tsaiyuyen007@gmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=159" class="shot">
            <img src="~/Content/images/AboutUs/48/159.jpg" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>特友會主席</em><br>
        姓名： <em>楊萬有</em><br>
        信箱： <a href="mailto:h620507@yahoo.com.tw">h620507@yahoo.com.tw</a>
    </dd>
</dl>