@{
  ViewBag.BodyClass = "AboutUs p3";
  ViewBag.Category = "青商沿革";
  ViewBag.Title = "第46屆理監事";
  Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
    @Scripts.Render("~/about_usWWW")
}

<ul class="breadcrumb">
    <li class="s"><a href="~/Index">HOME</a></li>
    <li><a href="~/AboutUs/AboutUs">@ViewBag.Category</a></li>
    <li>@ViewBag.Title</li>
</ul>

<h2><span>JCI-Chungli<em>@ViewBag.Category</em></span></h2>

<h3>@ViewBag.Title</h3>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2257">
            <img src="~/Content/images/AboutUs/46/01_pre.jpg" class="pic-2" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>會長</em><br>
        姓名： <em>宋航源</em><br>
        信箱： <a href="mailto:s198112192529@gmail.com">s198112192529@gmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=439">
            <img src="~/Content/images/AboutUs/46/02_c_pre.jpg" class="pic-2" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>輔導會長</em><br>
        姓名： <em>羅玉玲</em><br>
        信箱： <a href="mailto:cynthialo1016@gmail.com">cynthialo1016@gmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2065">
            <img src="~/Content/images/AboutUs/46/03_v_pre1.jpg" class="pic-2" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>副會長</em><br>
        姓名： <em>葉俊賢</em><br>
        信箱： <a href="mailto:xin.jia2008@msa.hinet.net">xin.jia2008@msa.hinet.net</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=585">
            <img src="~/Content/images/AboutUs/46/03_v_pre2.jpg" class="pic-2" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>副會長</em><br>
        姓名： <em>劉宇桀</em><br>
        信箱： <a href="mailto:yowigon@gmail.com">yowigon@gmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2136">
            <img src="~/Content/images/AboutUs/46/04_sec.jpg" class="pic-2" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>秘書長</em><br>
        姓名： <em>楊明霖</em><br>
        信箱： <a href="mailto:lsus0725@gmail.com">lsus0725@gmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2418">
            <img src="~/Content/images/AboutUs/46/05_fin.jpg" class="pic-2" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>財務長</em><br>
        姓名： <em>高梓軒</em><br>
        信箱： <a href="mailto:cavin110778@gmail.com">cavin110778@gmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=435">
            <img src="~/Content/images/AboutUs/46/06_adv.jpg" class="pic-2" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>法治顧問</em><br>
        姓名： <em>張大城</em><br>
        信箱： <a href="mailto:cheng133820@gmail.com">cheng133820@gmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2365">
            <img src="~/Content/images/AboutUs/46/09_dir1.jpg" class="pic-2" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>理事</em><br>
        姓名： <em>黃禮駿</em><br>
        信箱： <a href="mailto:a0917909086@yahoo.com.tw">a0917909086@yahoo.com.tw</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2373">
            <img src="~/Content/images/AboutUs/46/09_dir2.jpg" class="pic-2" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>理事</em><br>
        姓名： <em>劉佑宸</em><br>
        信箱： <a href="mailto:jtl25903@gmail.com">jtl25903@gmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2386">
            <img src="~/Content/images/AboutUs/46/09_dir3.jpg" class="pic-2" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>理事</em><br>
        姓名： <em>林怡志</em><br>
        信箱： <a href="mailto:happy.44.ever@hotmail.com">happy.44.ever@hotmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2405">
            <img src="~/Content/images/AboutUs/46/09_dir4.jpg" class="pic-2" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>理事</em><br>
        姓名： <em>黃崧鴻</em><br>
        信箱： <a href="mailto:Howard37394038@yahoo.com.tw">Howard37394038@yahoo.com.tw</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=446">
            <img src="~/Content/images/AboutUs/46/09_dir5.JPG" class="pic-2" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>理事</em><br>
        姓名： <em>蒲東億</em><br>
        信箱： <a href="mailto:a0926@gmail.com">pudondon@gmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2475">
            <img src="~/Content/images/AboutUs/46/09_dir6.jpg" class="pic-2" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>理事</em><br>
        姓名： <em>傅彥鈞</em><br>
        信箱： <a href="mailto:cody16882003@yahoo.com.tw"></a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2107">
            <img src="~/Content/images/AboutUs/46/07_ever_sup.jpg" class="pic-2" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>常務監事</em><br>
        姓名： <em>黃俊倫</em><br>
        信箱： <a href="mailto:color.forest@msa.hinet.net">color.forest@msa.hinet.net</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2235">
            <img src="~/Content/images/AboutUs/46/08_sup1.jpg" class="pic-2" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>監事</em><br>
        姓名： <em>劉奕崴</em><br>
        信箱： <a href="mailto:mcgucci226512@gmail.com">mcgucci226512@gmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=2432">
            <img src="~/Content/images/AboutUs/46/08_sup2.jpg" class="pic-2" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>監事</em><br>
        姓名： <em>徐福臨</em><br>
        信箱： <a href="mailto:kevinsyu27@gmail.com">kevinsyu27@gmail.com</a>
    </dd>
</dl>
<dl class="grid">
    <dt>
        <a href="~/Member/Member_Content?id=150">
            <img src="~/Content/images/AboutUs/46/10_s.jpg" class="pic-2" alt="更多詳細資料">
        </a>
    </dt>
    <dd>
        職稱： <em>特友會主席</em><br>
        姓名： <em>陳時武</em><br>
        信箱： <a href="mailto:kevinsyu27@gmail.com"></a>
    </dd>
</dl>