@{
  ViewBag.BodyClass = "AboutUs p3";
  ViewBag.Category = "青商沿革";
  ViewBag.Title = "第44屆理監事";
  Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
@Scripts.Render("~/about_usWWW")
}

<ul class="breadcrumb">
    <li class="s"><a href="~/Index">HOME</a></li>
    <li><a href="~/AboutUs/AboutUs">@ViewBag.Category</a></li>
    <li>@ViewBag.Title</li>
</ul>

<h2><span>JCI-Chungli<em>@ViewBag.Category</em></span></h2>

<h3>@ViewBag.Title</h3>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=260">
                        <img src="~/Content/images/AboutUs/44/01_pre.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>會長</em><br>
                    姓名： <em>李朝海</em><br>
                    信箱： <a href="mailto:an.andrew.li@gmail.com">an.andrew.li@gmail.com</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=251">
                        <img src="~/Content/images/AboutUs/44/02_c_pre.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>輔導會長</em><br>
                    姓名： <em>張晃銘</em><br>
                    信箱： <a href="mailto:huangming168@kimo.com">huangming168@kimo.com</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=437">
                        <img src="~/Content/images/AboutUs/44/03_v_pre1.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>副會長</em><br>
                    姓名： <em>魏揚軒</em><br>
                    信箱： <a href="willie_wei828@yahoo.com.tw">willie_wei828@yahoo.com.tw</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=435">
                        <img src="~/Content/images/AboutUs/44/03_v_pre2.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>副會長</em><br>
                    姓名： <em>張大城</em><br>
                    信箱： <a href="cheng133820@gmail.com">cheng133820@gmail.com</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=2065">
                        <img src="~/Content/images/AboutUs/44/04_sec.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>秘書長</em><br>
                    姓名： <em>葉俊賢</em><br>
                    信箱： <a href="xin.jia2008@msa.hinet.net">xin.jia2008@msa.hinet.net</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=2141">
                        <img src="~/Content/images/AboutUs/44/05_fin.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>財務長</em><br>
                    姓名： <em>王曉倩</em><br>
                    信箱： <a href="pinpin0930365915@gmail.com">pinpin0930365915@gmail.com</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=370">
                        <img src="~/Content/images/AboutUs/44/06_adv.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>法制顧問</em><br>
                    姓名： <em>劉世超</em><br>
                    信箱： <a href="c2980@yahoo.com.tw">c2980@yahoo.com.tw</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=2079">
                        <img src="~/Content/images/AboutUs/44/09_dir1.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>理事</em><br>
                    姓名： <em>廖冠龢</em><br>
                    信箱： <a href="onetwo123j@yahoo.com.tw">onetwo123j@yahoo.com.tw</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=2083">
                        <img src="~/Content/images/AboutUs/44/09_dir2.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>理事</em><br>
                    姓名： <em>于瀚翔</em><br>
                    信箱： <a href="hanson.yu77@gmail.com">hanson.yu77@gmail.com</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=2085">
                        <img src="~/Content/images/AboutUs/44/09_dir3.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>理事</em><br>
                    姓名： <em>莊子瑤</em><br>
                    信箱： <a href="kiki00534@yahoo.com.tw">kiki00534@yahoo.com.tw</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=2062">
                        <img src="~/Content/images/AboutUs/44/09_dir4.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>理事</em><br>
                    姓名： <em>黃鴻凱</em><br>
                    信箱： <a href="a0976587345@gmail.com">a0976587345@gmail.com</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=2106">
                        <img src="~/Content/images/AboutUs/44/09_dir5.JPG" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>理事</em><br>
                    姓名： <em>呂鍵鋐</em><br>
                    信箱： <a href="solio9211@gmail.com">solio9211@gmail.com</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=2130">
                        <img src="~/Content/images/AboutUs/44/09_dir6.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>理事</em><br>
                    姓名： <em>游苡彤</em><br>
                    信箱： <a href="nina@nano-meter.com.tw">nina@nano-meter.com.tw</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=597">
                        <img src="~/Content/images/AboutUs/44/07_ever_sup.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>常務監事</em><br>
                    姓名： <em>游玉梅</em><br>
                    信箱： <a href="betty760418@hotmail.com">betty760418@hotmail.com</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=2070">
                        <img src="~/Content/images/AboutUs/44/08_sup1.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>監事</em><br>
                    姓名： <em>江長橋</em><br>
                    信箱： <a href="a137291@gmail.com">a137291@gmail.com</a>
                </dd>
            </dl>
            <dl class="grid">
                <dt>
                    <a href="~/Member/Member_Content?id=2184">
                        <img src="~/Content/images/AboutUs/44/08_sup2.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                </dt>
                <dd>
                    職稱： <em>監事</em><br>
                    姓名： <em>許佳偉</em><br>
                    信箱： <a href="a091996031599@yahoo.com.tw">a091996031599@yahoo.com.tw</a>
                </dd>
            </dl>