@{
  ViewBag.BodyClass = "AboutUs p5";
  ViewBag.Category = "青商沿革";
  ViewBag.Title = "歷屆OB主席";
  Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
@Scripts.Render("~/about_usWWW")
}

<ul class="breadcrumb">
    <li class="s"><a href="~/Index">HOME</a></li>
    <li><a href="~/AboutUs/AboutUs">@ViewBag.Category</a></li>
    <li>@ViewBag.Title</li>
</ul>

<h2><span>JCI-Chungli<em>@ViewBag.Category</em></span></h2>

<h3>@ViewBag.Title</h3>
<ol class="pic-list2">

    <li>
        <a href="~/Member/Member_Content?id=150">
            <img src="~/Content/images/AboutUs/OB_President/38.jpg" class="pic-2" alt="更多詳細資料">
        </a>
        屆別 ： 第38屆<br />
        姓名 ： 陳時武
    </li>
    <li>
        <a href="~/Member/Member_Content?id=148">
            <img src="~/Content/images/AboutUs/OB_President/37.jpg" class="pic-2" alt="更多詳細資料">
        </a>
        屆別 ： 第37屆<br />
        姓名 ： 張春泳
    </li>

    <li>
        <a href="~/Member/Member_Content?id=148">
            <img src="~/Content/images/AboutUs/OB_President/36.jpg" class="pic-2" alt="更多詳細資料">
        </a>
        屆別 ： 第36屆<br />
        姓名 ： 余佳釗
    </li>

    <li>
        <a href="~/Member/Member_Content?id=197">
            <img src="~/Content/images/AboutUs/OB_President/35.jpg" class="pic-2" alt="更多詳細資料">
        </a>
        屆別 ： 第35屆<br />
        姓名 ： 藍榮洲
    </li>

    <li>
        <a href="~/Member/Member_Content?id=147">
            <img src="~/Content/images/AboutUs/OB_President/34.jpg" class="pic-2" alt="更多詳細資料">
        </a>
        屆別 ： 第34屆<br />
        姓名 ： 邱創煒
    </li>

    <li>
        <a href="~/Member/Member_Content?id=114">
            <img src="~/Content/images/AboutUs/OB_President/33.jpg" class="pic-2" alt="更多詳細資料">
        </a>
        屆別 ： 第33屆<br />
        姓名 ： 王玉梅
    </li>

    <li>
        <a href="~/Member/Member_Content?id=311">
            <img src="~/Content/images/AboutUs/OB_President/32.jpg" class="pic-2" alt="更多詳細資料">
        </a>
        屆別 ： 第32屆<br />
        姓名 ： 胡能有
    </li>

    <li>
        <a href="~/Member/Member_Content?id=87">
            <img src="~/Content/images/AboutUs/OB_President/31.jpg" class="pic-2" alt="更多詳細資料">
        </a>
        屆別 ： 第31屆<br />
        姓名 ： 邱高蒼
    </li>

    <li>
        <a href="~/Member/Member_Content?id=182">
            <img src="~/Content/images/AboutUs/OB_President/30.jpg" class="pic-2" alt="更多詳細資料">
        </a>
        屆別 ： 第30屆<br />
        姓名 ： 徐意明
    </li>

    <li>
        <a href="~/Member/Member_Content?id=162">
            <img src="~/Content/images/AboutUs/OB_President/29.jpg" class="pic-2" alt="更多詳細資料">
        </a>
        屆別 ： 第29屆<br />
        姓名 ： 鍾文樟
    </li>

    <li>
        <a href="~/Member/Member_Content?id=105">
            <img src="~/Content/images/AboutUs/OB_President/28.jpg" class="pic-2" alt="更多詳細資料">
        </a>
        屆別 ： 第28屆 <br />
        姓名 ： 呂瑞鳳
    </li>

    <li>
        <a href="~/Member/Member_Content?id=93">
            <img src="~/Content/images/AboutUs/OB_President/27.jpg" class="pic-2" alt="更多詳細資料">
        </a>
        屆別 ： 第27屆<br />
        姓名 ： 羅錦鴻
    </li>

    <li>
        <a href="~/Member/Member_Content?id=98">
            <img src="~/Content/images/AboutUs/OB_President/26.jpg" class="pic-2" alt="更多詳細資料">
        </a>
        屆別 ： 第26屆<br />
        姓名 ： 陳文毅
    </li>

    <li>
        <a href="~/Member/Member_Content?id=94">
            <img src="~/Content/images/AboutUs/OB_President/25.jpg" class="pic-2" alt="更多詳細資料">
        </a>
        屆別 ： 第25屆<br />
        姓名 ： 劉紹寶
    </li>

    <li>
        <a href="~/Member/Member_Content?id=65">
            <img src="~/Content/images/AboutUs/OB_President/24.jpg" class="pic-2" alt="更多詳細資料">
        </a>
        屆別 ： 第24屆<br />
        姓名 ： 田錦源
    </li>

    <li>
        <a href="~/Member/Member_Content?id=46">
            <img src="~/Content/images/AboutUs/OB_President/23.jpg" class="pic-2" alt="更多詳細資料">
        </a>
        屆別 ： 第23屆<br />
        姓名 ： 黃木連
    </li>

    <li>
        <a href="~/Member/Member_Content?id=67">
            <img src="~/Content/images/AboutUs/OB_President/22.jpg" class="pic-2" alt="更多詳細資料">
        </a>
        屆別 ： 第22屆<br />
        姓名 ： 邱永財
    </li>

    <li>
        <a href="~/Member/Member_Content?id=80">
            <img src="~/Content/images/AboutUs/supervisor_nopic.jpg" class="pic-2" alt="更多詳細資料">
        </a>
        屆別 ： 第21屆<br />
        姓名 ： 劉興忠
    </li>

    <li>
        <a href="~/Member/Member_Content?id=96">
            <img src="~/Content/images/AboutUs/supervisor_nopic.jpg" class="pic-2" alt="更多詳細資料">
        </a>
        屆別 ： 第20屆<br />
        姓名 ： 梁新武
    </li>

    <li>
        <a href="~/Member/Member_Content?id=35">
            <img src="~/Content/images/AboutUs/supervisor_nopic.jpg" class="pic-2" alt="更多詳細資料">
        </a>
        屆別 ： 第19屆<br />
        姓名 ： 謝禎泉
    </li>

    <li>
        <a href="~/Member/Member_Content?id=84">
            <img src="~/Content/images/AboutUs/OB_President/18.jpg" class="pic-2">
        </a>
        屆別 ： 第18屆<br />
        姓名 ： 張富誠
    </li>

    <li>
        <a href="~/Member/Member_Content?id=50">
            <img src="~/Content/images/AboutUs/OB_President/17.jpg" class="pic-2" alt="更多詳細資料">
        </a>
        屆別 ： 第17屆<br />
        姓名 ： 劉奕德
    </li>

    <li>
        <a href="~/Member/Member_Content?id=79">
            <img src="~/Content/images/AboutUs/supervisor_nopic.jpg" class="pic-2" alt="更多詳細資料">
        </a>
        屆別 ： 第16屆<br />
        姓名 ： 梁坤見
    </li>

    <li>
        <a href="~/Member/Member_Content?id=29">
            <img src="~/Content/images/AboutUs/OB_President/15.jpg" class="pic-2" alt="更多詳細資料">
        </a>
        屆別 ： 第15屆<br />
        姓名 ： 莊訓庚
    </li>

    <li>
        <a href="~/Member/Member_Content?id=44">
            <img src="~/Content/images/AboutUs/OB_President/14.jpg" class="pic-2" alt="更多詳細資料">
        </a>
        屆別 ： 第14屆<br />
        姓名 ： 鍾增龍
    </li>

    <li>
        <a href="..Business/Member_Detail.asp?id=30">
            <img src="~/Content/images/AboutUs/supervisor_nopic.jpg" class="pic-2" alt="更多詳細資料">
        </a>
        屆別 ： 第13屆<br />
        姓名 ： 張田
    </li>

    <li>
        <a href="~/Member/Member_Content?id=64">
            <img src="~/Content/images/AboutUs/OB_President/12.jpg" class="pic-2" alt="更多詳細資料">
        </a>
        屆別 ： 第12屆<br />
        姓名 ： 張明發
    </li>

    <li>
        <img src="~/Content/images/AboutUs/supervisor_nopic.jpg" class="pic-2">
        屆別 ： 第11屆<br />
        姓名 ： 羅煥鑫
    </li>

    <li>
        <a href="~/Member/Member_Content?id=37">
            <img src="~/Content/images/AboutUs/supervisor_nopic.jpg" class="pic-2" alt="更多詳細資料">
        </a>
        屆別 ： 第10屆<br />
        姓名 ： 江正修
    </li>

    <li>
        <a href="~/Member/Member_Content?id=25">
            <img src="~/Content/images/AboutUs/OB_President/09.jpg" class="pic-2" alt="更多詳細資料">
        </a>
        屆別 ： 第9屆<br />
        姓名 ： 梁清潭
    </li>

    <li>
        <img src="~/Content/images/AboutUs/supervisor_nopic.jpg" class="pic-2">
        屆別 ： 第8屆<br />
        姓名 ： 吳武秀
    </li>

    <li>
        <a href="~/Member/Member_Content?id=26">
            <img src="~/Content/images/AboutUs/supervisor_nopic.jpg" class="pic-2" alt="更多詳細資料">
        </a>
        屆別 ： 第7屆<br />
        姓名 ： 柯明生
    </li>

    <li>
        <img src="~/Content/images/AboutUs/supervisor_nopic.jpg" class="pic-2">
        屆別 ： 第6屆<br />
        姓名 ： 李洋一
    </li>

    <li>
        <img src="~/Content/images/AboutUs/supervisor_nopic.jpg" class="pic-2">
        屆別 ： 第5屆<br />
        姓名 ： 呂理胡
    </li>

    <li>
        <a href="~/Member/Member_Content?id=23">
            <img src="~/Content/images/AboutUs/OB_President/04.jpg" class="pic-2" alt="更多詳細資料">
        </a>
        屆別 ： 第4屆<br />
        姓名 ： 林建三
    </li>

    <li>
        <a href="~/Member/Member_Content?id=36">
            <img src="~/Content/images/AboutUs/supervisor_nopic.jpg" class="pic-2" alt="更多詳細資料">
        </a>
        屆別 ： 第3屆<br />
        姓名 ： 張松森
    </li>

    <li>
        <a href="~/Member/Member_Content?id=2">
            <img src="~/Content/images/AboutUs/OB_President/02.jpg" class="pic-2" alt="更多詳細資料">
        </a>
        屆別 ： 第2屆<br />
        姓名 ： 張貴木
    </li>

    <li>
        <a href="~/Member/Member_Content?id=2">
            <img src="~/Content/images/AboutUs/OB_President/01.jpg" class="pic-2">
        </a>
        屆別 ： 第1屆<br />
        姓名 ： 張貴木
    </li>

</ol>