@{
  ViewBag.BodyClass = "AboutUs p4";
  ViewBag.Category = "青商沿革";
  ViewBag.Title = "歷屆前會長";
  Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
@Scripts.Render("~/about_usWWW")
}

<ul class="breadcrumb">
    <li class="s"><a href="~/Index">HOME</a></li>
    <li><a href="~/AboutUs/AboutUs">@ViewBag.Category</a></li>
    <li>@ViewBag.Title</li>
</ul>

<h2><span>JCI-Chungli<em>@ViewBag.Category</em></span></h2>

<h3>@ViewBag.Title</h3>
            <ol class="pic-list2">
                
                <li>
                    <a href="~/Member/Member_Content?id=412">
                        <img src="~/Content/images/AboutUs/previous/42.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別： 第42屆<br />姓名： 羅崴駿
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=235">
                        <img src="~/Content/images/AboutUs/previous/41.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別： 第41屆<br />姓名： 林筱菁
                </li>

                <li>
                     <a href="~/Member/Member_Content?id=226">
                        <img src="~/Content/images/AboutUs/previous/40.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別： 第40屆<br />姓名 ： 林敬恩
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=187">
                        <img src="~/Content/images/AboutUs/previous/39.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別： 第39屆<br />姓名 ： 林福鑫
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=206">
                        <img src="~/Content/images/AboutUs/previous/38.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第38屆<br />姓名 ： 劉世群
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=217">
                        <img src="~/Content/images/AboutUs/previous/37.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第37屆<br />姓名 ： 陳家濬
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=198">
                        <img src="~/Content/images/AboutUs/previous/36.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第36屆<br />姓名 ： 梁詮罡
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=123">
                        <img src="~/Content/images/AboutUs/previous/35.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第35屆<br />姓名 ： 沈祿集
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=176">
                        <img src="~/Content/images/AboutUs/previous/34.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第34屆<br />姓名 ： 梁為超
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=171">
                        <img src="~/Content/images/AboutUs/previous/33.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第33屆<br />姓名 ： 彭建修
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=164">
                        <img src="~/Content/images/AboutUs/previous/32.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第32屆<br />姓名 ： 王信福
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=133">
                        <img src="~/Content/images/AboutUs/previous/31.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第31屆<br />姓名 ： 吳志光
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=85">
                        <img src="~/Content/images/AboutUs/previous/30.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第30屆<br />姓名 ： 陳文信
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=120">
                        <img src="~/Content/images/AboutUs/previous/29.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第29屆<br />姓名 ： 張禮水
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=117">
                        <img src="~/Content/images/AboutUs/previous/28.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第28屆<br />姓名 ： 彭永淦
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=113">
                        <img src="~/Content/images/AboutUs/previous/27.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第27屆<br />姓名 ： 徐景文
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=77">
                        <img src="~/Content/images/AboutUs/previous/26.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第26屆<br />姓名 ： 羅雙全
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=83">
                        <img src="~/Content/images/AboutUs/previous/25.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第25屆<br />姓名 ： 鄭志權
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=68">
                        <img src="~/Content/images/AboutUs/previous/24.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第24屆<br />姓名 ： 張奇連
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=68">
                        <img src="~/Content/images/AboutUs/previous/23.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第23屆<br />姓名 ： 溫智謀
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=60">
                        <img src="~/Content/images/AboutUs/previous/22.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第22屆<br />姓名 ： 王派然
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=82">
                        <img src="~/Content/images/AboutUs/previous/21.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第21屆<br />姓名 ： 鍾添景
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=20">
                        <img src="~/Content/images/AboutUs/previous/20.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第20屆<br />姓名 ： 賴俊志
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=19">
                        <img src="~/Content/images/AboutUs/previous/19.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第19屆<br />姓名 ： 陳秋隆
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=18">
                        <img src="~/Content/images/AboutUs/previous/18.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第18屆<br />姓名 ： 陳德源
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=17">
                        <img src="~/Content/images/AboutUs/previous/17.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第17屆<br />姓名 ： 林明源
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=16">
                        <img src="~/Content/images/AboutUs/previous/16.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第16屆<br />姓名 ： 謝榮富
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=15">
                        <img src="~/Content/images/AboutUs/previous/15.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第15屆<br />姓名 ： 林登濱
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=14">
                        <img src="~/Content/images/AboutUs/previous/14.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第14屆<br />姓名 ： 鍾維和
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=13">
                        <img src="~/Content/images/AboutUs/previous/13.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第13屆<br />姓名 ： 馬勵志
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=12">
                        <img src="~/Content/images/AboutUs/previous/12.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第12屆<br />姓名 ： 余泰濱
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=11">
                        <img src="~/Content/images/AboutUs/previous/11.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第11屆<br />姓名 ： 黃銀政
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=10">
                        <img src="~/Content/images/AboutUs/previous/10.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第10屆<br />姓名 ： 王春金
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=9">
                        <img src="~/Content/images/AboutUs/previous/9.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第9屆<br />姓名 ： 曾俊明
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=8">
                        <img src="~/Content/images/AboutUs/previous/8.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第8屆<br />姓名 ： 吳東霖
                </li>

                <li>
                    <a href="#">
                        <img src="~/Content/images/AboutUs/previous/supervisor_nopic.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第7屆<br />姓名 ： 劉邦友
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=6">
                        <img src="~/Content/images/AboutUs/previous/6.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第6屆<br />姓名 ： 羅文政
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=5">
                        <img src="~/Content/images/AboutUs/previous/5.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第5屆<br />姓名 ： 梁家遠
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=4">
                        <img src="~/Content/images/AboutUs/previous/4.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第4屆<br />姓名 ： 張古鉅
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=3">
                        <img src="~/Content/images/AboutUs/previous/3.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第3屆<br />姓名 ： 李載浩
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=2">
                        <img src="~/Content/images/AboutUs/previous/2.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第2屆<br />姓名 ： 張貴木
                </li>

                <li>
                    <a href="~/Member/Member_Content?id=1">
                        <img src="~/Content/images/AboutUs/previous/1.jpg" class="pic-2" alt="更多詳細資料">
                    </a>
                    屆別 ： 第1屆<br />姓名 ： 許信良
                </li>

             </ul>